@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
main .snippets {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .snippets .secondary-title {
  margin-top: 5dvh;
  margin-bottom: 3dvh;
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
main .snippets .secondary-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 10dvh;
}
main .hero {
  display: flex;
}
main .hero .hero-img {
  flex: 1;
}
main .hero .hero-img .img-computer {
  max-width: 100%;
  height: auto;
}
main .hero .hero-text {
  justify-content: center;
  align-items: center;
  margin-right: 20dvh;
}
main .hero .hero-text .third-title {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.5rem;
  color: hsl(210, 10%, 33%);
  margin-top: 5dvh;
}
main .hero .hero-text .third-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-top: 3dvh;
}
main .secondary-content {
  display: flex;
  flex-direction: column;
  margin-top: 15dvh;
}
main .secondary-content .clipboard-text {
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .secondary-content .clipboard-text .clipboard-title {
  margin-top: 2dvh;
  margin-bottom: 3dvh;
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
main .secondary-content .clipboard-text .clipboard-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 20dvh;
}
main .secondary-content .clipboard-img {
  margin: auto;
}
main .secondary-content .clipboard-img .devices-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10dvh;
}
main .third-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .third-content .title-supercharge {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.6rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 3dvh;
}
main .third-content .paragraph-supercharge {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 10dvh;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-right: 10dvh;
  margin-left: 10dvh;
}
main .grid-container .card {
  text-align: center;
}
main .grid-container .card .card-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 3dvh;
}
main .grid-container .card .card-title {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.2rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 2dvh;
}
main .grid-container .card .card-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 20dvh;
}
main .second-grid-container, main .new-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 5dvh;
  margin-left: 10dvh;
  margin-bottom: 10dvh;
}
main .fourth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .fourth-content .fourth-text {
  margin-bottom: 4dvh;
}
main .fourth-content .fourth-text .clipboard-ios {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.6rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 3dvh;
}
main .fourth-content .fourth-text .app-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
}
main .fourth-content .btn {
  display: flex;
}
main .fourth-content .btn .download-btn {
  margin-left: 3dvh;
  width: 25dvh;
  height: 6dvh;
  border-radius: 10dvh;
  border: none;
  font-family: "Bai Jamjuree", serif, arial;
  color: white;
  cursor: pointer;
}
main .fourth-content .btn .color-cyan {
  background-color: hsl(171, 66%, 44%);
}
main .fourth-content .btn .color-blue {
  background-color: hsl(233, 100%, 69%);
}/*# sourceMappingURL=main.css.map */