@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
main .snippets {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .snippets .secondary-title {
  margin-top: 5dvh;
  margin-bottom: 3dvh;
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
main .snippets .secondary-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 10dvh;
}
main .hero {
  display: flex;
}
main .hero .hero-img {
  flex: 1;
}
main .hero .hero-img .img-computer {
  max-width: 100%;
  height: auto;
}
main .hero .hero-text {
  justify-content: center;
  align-items: center;
  margin-right: 20dvh;
}
main .hero .hero-text .third-title {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.5rem;
  color: hsl(210, 10%, 33%);
  margin-top: 5dvh;
}
main .hero .hero-text .third-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-top: 3dvh;
}
main .secondary-content {
  display: flex;
  flex-direction: column;
  margin-top: 15dvh;
}
main .secondary-content .clipboard-text {
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .secondary-content .clipboard-text .clipboard-title {
  margin-top: 2dvh;
  margin-bottom: 3dvh;
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.8rem;
  color: hsl(210, 10%, 33%);
}
main .secondary-content .clipboard-text .clipboard-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 20dvh;
}
main .secondary-content .clipboard-img {
  margin: auto;
}
main .secondary-content .clipboard-img .devices-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10dvh;
}
main .third-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .third-content .title-supercharge {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.6rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 3dvh;
}
main .third-content .paragraph-supercharge {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 10dvh;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin-right: 10dvh;
  margin-left: 10dvh;
}
main .grid-container .card {
  text-align: center;
}
main .grid-container .card .card-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 3dvh;
}
main .grid-container .card .card-title {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.2rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 2dvh;
}
main .grid-container .card .card-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 20dvh;
}
main .second-grid-container, main .new-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 5dvh;
  margin-left: 10dvh;
  margin-bottom: 10dvh;
}
main .fourth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .fourth-content .fourth-text {
  margin-bottom: 4dvh;
}
main .fourth-content .fourth-text .clipboard-ios {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1.6rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 3dvh;
}
main .fourth-content .fourth-text .app-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
}
main .fourth-content .btn {
  display: flex;
}
main .fourth-content .btn .download-btn {
  margin-left: 3dvh;
  width: 25dvh;
  height: 6dvh;
  border-radius: 10dvh;
  border: none;
  font-family: "Bai Jamjuree", serif, arial;
  color: white;
  cursor: pointer;
}
main .fourth-content .btn .color-cyan {
  background-color: hsl(171, 66%, 44%);
}
main .fourth-content .btn .color-blue {
  background-color: hsl(233, 100%, 69%);
}

@media screen and (max-width: 480px) {
  .secondary-title {
    margin-top: 2dvh !important;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 25dvh;
}
footer .footer-img {
  display: flex;
  flex-direction: column;
}
footer .footer-img .footer-logo {
  width: 50%;
}
footer .footer-links {
  display: flex;
  margin-right: 5dvh;
}
footer .footer-links .first-col {
  display: flex;
  flex-direction: column;
  margin-right: 7dvh;
}
footer .footer-links .first-col a {
  margin-bottom: 3dvh;
  font-size: 1rem;
  font-family: "Bai Jamjuree", serif, arial;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
footer .footer-links .first-col a:hover {
  color: hsl(171, 66%, 44%);
}
footer .footer-links .second-col {
  display: flex;
  flex-direction: column;
  margin-right: 7dvh;
}
footer .footer-links .second-col a {
  margin-bottom: 3dvh;
  font-size: 1rem;
  font-family: "Bai Jamjuree", serif, arial;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
footer .footer-links .second-col a:hover {
  color: hsl(171, 66%, 44%);
}
footer .footer-links .third-col {
  display: flex;
  flex-direction: column;
  margin-right: 7dvh;
}
footer .footer-links .third-col a {
  font-size: 1rem;
  font-family: "Bai Jamjuree", serif, arial;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
footer .footer-links .third-col a:hover {
  color: hsl(171, 66%, 44%);
}
footer .footer-icons {
  display: flex;
}
footer .footer-icons .social-media {
  width: 30%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 3dvh;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  height: 80dvh;
}
header .background-header {
  position: absolute;
}
header .background-header .background-img {
  width: 100%;
  height: auto;
}
header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  position: relative;
}
header .header-content #header-logo {
  margin-bottom: 4dvh;
}
header .header-content #header-logo .logo {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-content #header-text .main-title {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 2rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 2dvh;
}
header .header-content #header-text .header-paragraph {
  font-family: "Bai Jamjuree", serif, arial;
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  margin-bottom: 3dvh;
}
header .header-content .header-btn {
  display: flex;
}
header .header-content .header-btn .download-btn {
  margin-left: 3dvh;
  width: 25dvh;
  height: 6dvh;
  border-radius: 10dvh;
  border: none;
  font-family: "Bai Jamjuree", serif, arial;
  color: white;
  cursor: pointer;
}
header .header-content .header-btn .color-cyan {
  background-color: hsl(171, 66%, 44%);
}
header .header-content .header-btn .color-blue {
  background-color: hsl(233, 100%, 69%);
}

@media screen and (max-width: 480px) {
  header {
    display: flex !important;
    width: 100%;
    height: 65dvh;
  }
}
@media screen and (max-width: 480px) {
  .header-content {
    display: flex !important;
    margin: 1dvh;
  }
}
@media screen and (max-width: 480px) {
  .main-title {
    margin: 1dvh 1dvh !important;
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  .header-paragraph {
    text-align: center !important;
    justify-content: center;
    align-items: center;
    margin: 1dvh;
  }
}
@media screen and (max-width: 480px) {
  .header-btn {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .download-btn {
    margin: 1dvh;
  }
}/*# sourceMappingURL=styles.css.map */